name: CI Pipeline

on:
  push: 
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  hello:
    runs-on: ubuntu-latest 
    steps:
      - name: Hello User
        run: echo "Hello User!" 

